:root{
    --text: #160909;
--background: #FAFFFC;
--primary: #e3e2e4;
--secondary: rgba(0, 0, 0, 0.122);
--accent: rgba(0, 0, 0, 0.038);

}
body{
    background-color: var(--background);
}
.container{
    margin-top: 25px;
    text-align: center;
}
#video{
    border: 2px solid var(--text);
    width: 480px;
    height: 270px;
    border-radius: 7px;
}
.btn{
    border: 2px solid var(--text);
    background: none;
    padding: 10px 20px;
    margin: 10px;
    transition: 0.3s;
    color: var(--text);
    text-decoration: none;
    border-radius: 20px;
}
.btn::before{
    width: 100%;
    height: 100%;
    color: var(--text);
    background-color: var(--background);
    transition: 0.3s;
}
.btn1:hover{
    background-color: var(--secondary);
    color: var(--text);
}
#Total{
    width: 980px;
    height: 690px;
    margin: auto;
}
#header{
    background-image: url(imagens/header.png);
    background-repeat: no-repeat;
    width: 980px;
    height: 140px;
    margin-bottom: 15px;
    border-radius: 10px;
}
#Caixa{
    width: 980px;
    height: 450px;
}
#sidebar{
    float: left;
    width: 270px;
    height: 450px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: var(--accent);
}
#content{
    float: left;
    width: 695PX;
    height: 450px;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--secondary);
}
#rodape{
    width: 980px;
    height: 70px;
    margin-top: 15px;
    border-radius: 10px;
    vertical-align: middle;
    color: var(--text);
    background-color: var(--accent);
}